<div style="width:800px">
  <mat-list dense style="position:absolute;z-index:1000">
    <mat-list-item>
      <mat-checkbox color="primary" [(ngModel)]="updating" (click)="update()">Update</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox color="primary" [(ngModel)]="following" [disabled]="!running">Follow</mat-checkbox>
    </mat-list-item>
  </mat-list>


  <plotly-plot
    [data]="graph.data"
    [layout]="graph.layout"
    [config]="graph.config"
    (relayout)="onRelayout($event)"
    (mousedown)="onMouseDown($event)"
    ></plotly-plot>

  <mat-list>
    <mat-list-item>
      <mat-form-field style="width:100%">
        <input matInput placeholder="url" [(ngModel)]="url" (change)="update()">
        <mat-hint *ngIf="error">
         {{ error.message }}
        </mat-hint>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      Current simulation time: {{ currentTime / 10 }} ms
    </mat-list-item>
  </mat-list>
</div>
